body{
    margin: 0px;
}
header{
    width: 100%;
    border-bottom: 1px #DBDBDB solid;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 65px;
    padding: 19px 19px 18px 19px;
    margin-left: 90px;
}
#buscar{
    border: 0;
    background-color: #EFEFEF;
    border-radius: 10px;
    height: 33px;
    width: 250px;
    font-size: 16px;
    margin-right: 80px;
    margin-left: 250px;
}
#menu{
    margin-top: 8px;
    display: flex;
    margin-right: 90px;
}
#casa{
    height: 28px;
    margin-right: 19px;
}
#chat{
    height: 35px;
    margin-right: 20px;
}
#publicacion{
    height: 28px;
    margin-right: 20px;
}
#brujula{
    height: 28px;
    margin-right: 20px;
}
#mg{
    height: 28px;
    margin-right: 20px;
}
#perfil{
    height: 28px;
    margin-right: 20px;
}
#wrapper{
    display: block;
    text-align: center;
}
#wc{
    width: 600px;
    height: 800px;
    margin-top: 25px;
    display: inline-block;
}
#cabecerafoto{
    display: flex;
    align-items: center;
    height: 64px;
    border: #DBDBDB 1px solid;
}
#foto{
    height: 800px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: #DBDBDB;
}
#megustas{
    height: 53px;
    display: flex;
    align-items: center;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: #DBDBDB;
}
#comentarios{
    text-align: left;
    height: 84px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
}
#escribir{
    height: 55px;
    display: flex;
    align-items: center;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
}
#perfil2{
    margin-left: 12px;
    width: 38px;
}
#nombre{
    font-size: 15px;
    margin-left: 10px;
}
#nombrea{
    text-decoration: none;
    color: #262626;
}
#nombrea:visited{
    color: #262626;
}
#puntos{
    font-size: 22px;
    margin-left: 460px;
    margin-bottom: 35px;
    justify-content: right;
}
#puntosa{
    text-decoration: none;
    color: #262626
}
#puntosa:visited{
    color: #262626
}
#foto1{
    width: 598px;
    height: 800px;
}
#mgrelleno{
    width: 28px;
    margin-left: 12px;
}
#comentariomensaje{
    width: 27px;
    margin-left: 12px;
    margin-bottom: 2px;
}
#enviarpublicacion{
    width: 27px;
    margin-left: 13px;
}
#guardarpublicacion{
    width: 25px;
    margin-left: 440px;
}
#lesgusta{
    margin-left: 15px;
}
#ad10s{
    text-decoration: none;
    color: #262626;
}
#ad10s:visited{
    color: #262626;
}
#acristiano{
    text-decoration: none;
    color: #262626;
}
#acristinano:visited{
    color: #262626;
}
#vercomentarios{
    margin-left: 15px;
    margin-top: 8px;
    color: #8E8E8E;
}
#avercomentarios{
    text-decoration: none;
    color: #8E8E8E;
}
#avercomentarios:visited{
    color: #8E8E8E;
}
#fecha{
    color: #8E8E8E;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 8px;
}
#afecha{
    text-decoration: none;
    color: #8E8E8E;
}
#afecha:visited{
    color: #8E8E8E;
}
#emoji{
    width: 26px;
    margin-left: 18px;
}
#añadecomentario{
    border: 0;
    font-size: 14px;
    margin-left: 10px;
}
#publicarboton{
    color: #0095F6;
    text-decoration: none;
    margin-left: 290px;
    font-size: 15px;
}